# Konfigurasi Aplikasi
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=ganti_dengan_key_rahasia_anda

# Konfigurasi Database MySQL
# Format: mysql+pymysql://username:password@host:port/nama_database
DB_USERNAME=root
DB_PASSWORD=password_database_anda
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=restapi_python
